<h1>All Products</h1>

<% @products.each do |product| %>
 	<p><%= product.name %>,  <%= product.description %>, $<%= product.formatted_price %></p>
 	<% end %>

 	<%= link_to "New Products", "/products/new" %>
